* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}
.form-group input[type="checkbox"] {
  width: auto;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: #000000;
  font-size: 15px;
  border: 2px solid #777;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #c9c9c9;
}
.payment-section {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
